/*CSS da navbar : */

#navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    list-style: none;

}



/*CSS do rodapé: */

#rodape{

    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #000;
    color: #FFF;
    padding: 0.5px 0;


}